<p> name: <strong><%= @gossip.user.first_name%></strong><br>
<p> title: <em><%= @gossip.title%><br>
<p> content: <%= @gossip.content%><br>
<p><em>created: <%= @gossip.created_at %></em></p>
<p> update: <%= @gossip.updated_at %></p>